/* Styles for Historical Places */

#places {
    padding: 1em;
    
}

#places h2 {
    text-align: center;
}

#places-row {
    display: flex;
    flex-wrap: wrap;
}
#places-row::after {
    content: "";
    clear: both;
    display: table;
  }
.places-column {
    width: 100%;
    box-shadow: 0 1px 3px #43210a;
    margin: 5px;
    background-color: rgba(206, 144, 123, .1);
}

.places-column h3 {
    text-align: center;
    /* min-height: 52px; */
}

.places-column img {
    width: 100%;
    height: auto;
}
.places-column p{
    padding: 10px 20px;
    line-height: 1.75;
}

/* Media queries : tablets and larger screen sizes (768px and up) */
@media screen and (min-width: 768px) {
    #places-row{
        padding-left: 5%;
    }
    .places-column {
        float: left;
        width: 45%;
    }
}

/* Media queries : tablets and larger screen sizes (992px and up) */
@media screen and (min-width: 992px) {
    #places-row{
        padding-left: 5%;
    }
    .places-column {
        float: left;
        width: 30%;
    }
}