/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * wildcard selector for overriding default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #43210a;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Exo 2", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #43210a;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 3px #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #43210a;
}

/* Navigation bar style with drop down toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 3px #ffffff;
    display: none;
    top: 100%
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 160%;
}

/* nav bar sub item drop down */
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 3px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown-toggle:checked~.dropdown-content {
    display: block;
}

#dropdown-toggle {
    display: none;
}


/* Main Content */
main {
    /*  main element to take max space and position the footer to down*/
    flex: 1 0 auto;
    margin-top: 72px;

}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 200%;
    background-color: black;
}

#cover-text {
    background-color: rgba(206, 144, 123, .5);
    font-size: 130%;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    position: relative;
    top: 12%;
    left: 10px
}

#cover-text>h2,
#cover-text>h3,
#cover-text>h4 {
    color: #f2eac6;
}

/* mycity section */
#mycity {
    width: 95%;
    margin: 20px auto;
}

#mycity-name {
    text-align: center;
}

#mycity>div>p {
    padding: 10px 20px;
    line-height: 1.75;
}

hr {
    border-top: 1px solid #43210a;
    margin: 5px 0;
}

#mycity>div {
    margin-bottom: 20px;
}

/* Review Styles */
#review{
    padding: 3%;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
  }

#review-form {
    padding: 5%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    color: #43210a;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

#text-input-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    float: right;
    border: 0;
}

input[type=submit]:hover {
    background-color: #45a049;
    border: 0;
}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 0;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 0;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.rating-checked {
    color: orange;
  }


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #43210a;
}

/* Media queries : tablets and larger screen sizes (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
        display: block;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*  */
    main {
        margin-top: 113px;
    }

    /* Hero section */
    #hero {
        height: 450px;
        width: 100%;
        background-image: url("../images/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 70%;
        background-color: black;
    }

    #cover-text {
        width: 30%;
        position: relative;
        top: 30%;
        left: 10px
    }

    .col-25 {
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        width: 75%;
        margin-top: 0;
    }

}

/* Media queries : larger screen sizes (992px and up) */
@media screen and (min-width: 992px) {

    /* link hover effect */
    #menu a:hover {
        border-bottom: 1px solid #43210a;
    }
}